* {
    background-color: lightgray;
    border: 1px solid black;
}

html {
    height: 100vh;
    width: 100vw;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 30% 60%;
}

.header {
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 20%;
}
.header h1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.header .newBook {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 50%;
    height: 50%;
    align-self: center;
    justify-items: center;
    background-color: gold;
    font-weight: 900;
}

/*entry*/
.entry {
    grid-row: 2/3;
    display:grid;
    grid-template-columns: 10% 20%;
}
label {
    grid-column: 1/2;
    background-color:aquamarine;
}
form button {
    grid-column: 2/3;
    width: 50%;
    align-self: center;
    justify-self: center;
    background-color: green;
    font-weight: 900;
}

/* display*/
.display {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 20% 50%;
}
.display h2 {
    grid-row: 1/2;
}

/* This part need to be done inside DOM JS*/
.card {
/*     width: 300px;
    height: 400px;  */
    /* display: none; */
    grid-row: 2/3;
}

.card-content ul li{
    display: grid;
    grid-template-columns: 50% 50%;
}

.card-content ul li a {
    grid-column: 1/2;
}


.card-content ul li span {
    grid-column: 2/3;
}
/* */